/recipients-nakov-test.xlsx
/appsettings.json
/Email-SoftUni-28-Towns-Please-Share-August-2017.docx
/Emails-Students-SoftUni-28-Towns-Please-Share-August-2017.xlsx
/email-template.html
/.vs
/Smart-Mass-Mailer.csproj.user
/obj
/bin
